<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-lg-4">
        <p><a href="\TrainSchedule">Train Schedule</a></p>
        @{
            if (User.Identity.Name != "" && ViewBag.Roles.Count > 0)
            {
                if (ViewBag.Roles.Contains("Administrator"))
                {
                    <p><a href="~/Admin">Personnel Management</a></p>
                }
                if (ViewBag.Roles.Contains("Manager"))
                {
                    <p><a href="~/TrainManagement">Train Management</a></p>
                }
            }

        }
    </div>
</div>